<a href="https://colab.research.google.com/github/jfink09/Financial-Modeling/blob/Financial-Data-and-Preprocessing/Getting_Data_From_Yahoo_Finance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Retrieve stock data from Yahoo Finance 

# Set up plots
%matplotlib inline
%config InclineBackend.figure_format = 'retina'
import matplotlib.pyplot as plt 
import warnings

plt.style.use('seaborn')
plt.rcParams['figure.figsize'] = [16, 9]
plt.rcParams['figure.dpi'] = 300
warnings.simplefilter(action='ignore', category=FutureWarning)

In [11]:
# Install the current (updated) version of yfinance 
!pip install --upgrade yfinance

Requirement already up-to-date: yfinance in /usr/local/lib/python3.6/dist-packages (0.1.54)
Requirement already satisfied, skipping upgrade: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.0.3)
Requirement already satisfied, skipping upgrade: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.18.4)
Requirement already satisfied, skipping upgrade: multitasking>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied, skipping upgrade: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2.9)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2020.4.5.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.12.0)

In [0]:
# Import libraries
import pandas as pd
import yfinance as yf

In [13]:
# Download the data 
AAPL = yf.download('AAPL', start='2019-01-01', end=None, progress=False)

# Display the stock data in a table
# Default data is (Date, Open, High, Low, Close, Adj Colse, Volume)
AAPL

                  Open        High  ...   Adj Close    Volume
Date                                ...
2019-01-02  154.889999  158.850006  ...  155.214005  37039700
2019-01-03  143.979996  145.720001  ...  139.753540  91312200
2019-01-04  144.529999  148.550003  ...  145.719513  58607100
2019-01-07  148.699997  148.830002  ...  145.395203  54777800
2019-01-08  149.559998  151.820007  ...  148.166870  41025300
...                ...         ...  ...         ...       ...
2020-05-04  289.170013  293.690002  ...  293.160004  33392000
2020-05-05  295.059998  301.000000  ...  297.559998  36937800
2020-05-06  300.459991  303.239990  ...  300.630005  35583400
2020-05-07  303.220001  305.170013  ...  303.739990  28690300
2020-05-08  305.640015  310.290009  ...  309.929993  27904535

[341 rows x 6 columns]